---
// Component Imports
import Nav from '../components/Nav/index.jsx';
import Hero from '../components/Hero/index.jsx';
import Stats from '../components/Statistics/index.jsx';
import About from '../components/About/index.jsx';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/global.css">
    <title>Saat Satıyoru</title>
  </head>
  <body class="font-roboto">
    <Nav/>
    <Hero/>
    <Stats/>
    <About/>
  </body>
</html>
