---
// Component Imports
import Nav from '../components/Nav/index.jsx';
import Hero from '../components/Hero/index.jsx';
import Stats from '../components/Statistics/index.jsx';
import About from '../components/About/index.jsx';
import Services from '../components/Services/index.jsx';
import Portfolio from '../components/Portfolio/index.jsx';
import Footer from '../components/Footer/index.jsx';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/global.css">
    <title>Saat Satıyoru</title>
  </head>
  <body class="font-roboto">
    <Nav/>
    <Hero/>
    <Stats/>
    <About/>
    <Services/>
    <Portfolio/>
    <Footer/>
  </body>
</html>
